* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-weight: 100;
    font-family: 'PT sans narrow', sans-serif;
    overflow-x: hidden;
    background-image: url(../img/pattern.png)
}

img {
    cursor: pointer;
}

/* Første big photo er hentet fra http://smagpaaaarhus.dk/wp-content/uploads/2017/07/18768580_613884108818343_5940340354444103458_o-1_2034x1027_acf_cropped.jpg?fbclid=IwAR2pocRp4P19bHml6mAAnd5DqaiDscT-RrJK_ELoTngSf8KeW-8kW9t1IZU*/
.container .for {
    background-image:url(../img/domen.jpg);
}

/* Parallax container */
.container {
    width: 100%;
    margin: 0 auto;
    color:white;
}

#logouden img {
    width: 200px;
}

#logo {
    width: 60%;
}

/* Overskrifter */

h1 {
    position: relative;
    margin-bottom: 30%;
    line-height: 1.2em;

}

.container h2 {
    font-size: 400%;
    text-align: center;
    padding-top: 5%

}

h3 {
    font-size: 200%;
    text-align: left;
}


/* Bjælker mellem opslag */
.between {
    height: 50rem;
    position: relative;
    color: black;
    clear: both;
}

.between1 {
    height: 15rem;
}

.between2{
    height:25rem;
}

.between img {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    margin-top: 5%;
}
.between1 img {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    margin-top: -10%;
}


/* Tekstfelter */
.bg {
    width: auto;
    margin-left: 3%;
    margin-right: 35%;
}

/* Tekst til bigphoto */
#velkomsttekst {
    font-size: 150%;
    text-align: left;
    padding-bottom: 45%;
    padding-top: 10%;
    padding-left: 10%;
}

#velkomsttekstvision {
    font-size: 250%;
    text-align: left;
    padding-bottom: 45%;
    padding-top: 10%;
    padding-left: 10%;
    display: none;
}

/* Highlighted tekst */
i {
    font-size: 110%;
    font-weight: bolder;
    color: #91E0A7;
    font-style: normal;
}

/* P-tag med padding*/
#skub {
    padding-bottom: 40%;
}

/* Indhold i hvid boks*/
.middle {
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

}

.container .parallax {
    width: 100%;
    padding: 25rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /*background-attachment: fixed;*/
}


/* Event billede hentet fra https://www.facebook.com/pg/domenaarhus/events/ */
.container .eve {
    background-image:
        url("../img/event/event1.png");
    width: 48%;
    float: left;
    clear: left;
    margin-right: 1%;
    margin-left: 1%;

}
.eve{
    display: none;
}

 /*billede hentet fra https://www.facebook.com/domenaarhus/photos/gm.1116572081860905/364485560840351/?type=3&theater*/
.container .eve2 {
    background-image:
        url("../img/event/event2.png");
    width: 48%;
    float: left;
    clear: right;
    margin-left: 1%;
    margin-right: 1%;

}
.eve2{
    display: none;
}

/* Instafeed */
.multiinsta {
    display: flex;
    justify-content: center;
    align-content: center;
}

.multiinsta img {
    width: 33%;
    height: 33%;
    padding: 1%;
}

.multiinsta2 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.multiinsta2 img {
    width: 33%;
    height: 33%;
    padding: 1%;
}


/* tredje bigphoto */


/*  big photo underside domen*/
.container .for2 {
    background-image: url("../img/baren.jpg");
}
/* Vi har hentet billedet fra https://bimequity.dk/dome-of-visions/*/ 
.container .fri {
    background-image: url("../img/cafe-mellemfolkeligtsamvirke.jpg");
}
/* billede hentet fra http://domeofvisions.dk/the-architecture/dome-3-0/ */
.container .ark {
    background-image: url("../img/domen3.png");
}

/* andet bigphoto underside domen */
.container .domebar {
    background-image:
        url("../img/barenudvalg.jpg");
    width: 48%;
    float: left;
    clear: left;
    display: none;
    margin-right: 1%;
    margin-left: 1%;
}


.container .domebar2 {
    background-image:
        url("../img/barenudvalg.2jpg.jpg");
    width: 48%;
    float: left;
    clear: right;
    display: none;
    margin-left: 1%;
    margin-right: 1%;

}

.container .fri {

    background-position: center;
    overflow: hidden;
}

.container .ark {
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

/* bigphoto til siden vision er hentet fra https://500px.com/photo/228561433/dome-of-visions-aarhus-by-bj%C3%B8rn-b%C3%A6k?fbclid=IwAR2VIQjBbVChbOL4eX1BMQ3WkoAq2nW36h2Jnpi_psREL7M0tKnaDbgFCiA*/
.container .for3 {
    background-image: url("../img/vision.jpg");
}
/* Billedet er hentet fra https://www.minbyaarhus.dk/wp-content/uploads/2019/02/Domen-pa%CC%8A-Pier-2.jpg?fbclid=IwAR2wDj8KTjirbj-adT6qOrscc6MKI7v8lhcojcPjuoNJ29BoTuWzNyIDI_0 */
.container .for5 {
    background-image: url("../img/kontakt.jpg");
}
/* billedet er hentet fra https://aarhusupdate.dk/wp-content/uploads/2017/03/1.-etage-hos-Dome-of-Visions-p%C3%A5-Aarhus-Havn_.jpg?fbclid=IwAR3ZBO-eIzUetFeLgSK_IC27qT5bzqNP31bvYSZ8_My-Dmn5-uvt-ya5hRk*/
.container .for6 {
    background-image: url("../img/forum.jpg");
}
.fb-page{
margin-top: 1%;
       position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
.fbcontainer{
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
/*http://projektbank.dk/sites/default/files/styles/scale_w_500/public/2018-02/20171031_130023.jpg?itok=Nq45rljw&fbclid=IwAR0mthkg6N_YB8i9dy9UJjYvouKHRp6GCM4zKnEGsc96kAzDkidnoj1fHjY*/
.container .medborg {
    background-image: url("../img/medborger.jpg");
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

.container .byliv {
    background-image: url("../img/omdrejningspunkt.jpg");
    background-size: contain;
    background-position: center;
    overflow: hidden;
}

/* Nav overlay */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(../img/overlay.png);
    background-repeat: repeat;
    opacity: 0.95;
    overflow-x: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 1%;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
}

#logo {}

#forside {
    padding-top: 0%
}

/* åbningstider */
.aabningstider {
    color: white;
    font-size: 250%;
    width: 100%;
}

#aabningstider_tekst {
    text-align: center;
}


.flexbox {
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: #91E0A7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    padding: 15%;
    width: 80%;
}

/* Slideshow */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    right: 94%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

p {
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
    line-height: 1.4
}

#her {
    text-decoration: none;
    color: #91e0a7;
    font-weight: bold;
    font-size: 22px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    position: absolute;
    bottom: 10%;
    margin-left: 20%;
    width: 60%;
    text-align: center;
}


.text p {
    font-size: 220%;
    text-align: left;
    padding-left: 3%;
    padding-bottom: 1%;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*video*/
.video {
    width: 100%;
    height: 400px;

}

.mellemfolk {
    width: 50%;

}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #91e0a7;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #91e0a7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.forum {
    color: white;
}


/* Media queries */
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}




@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


@media screen and (min-width: 850px) {

    #nav {
        padding: 0;
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 3%;
    }

    #logo {
        width: 80%;
    }

    #logouden img {
        width: 300px;
    }

    /* Overskrifter */

    h1 {
        line-height: 1.2em;
        font-size: 3em;

    }

    h3 {
        font-size: 30px;
        text-align: left;
        margin-top: 5%;
    }

    .overskrifter h2 {
       padding-top: 5%;
    }


    .slideshow-container {
        display: none;
    }

    .kugler {
        display: none;
    }

    .container .eve {
        display: flex;


    }

    .container .eve2 {

        display: flex;
    }

    .container .domebar {
        display: flex;


    }

    .container .domebar2 {

        display: flex;
    }

    .middle {
        position: absolute;
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;

    }

    .multiinsta {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .multiinsta2 {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #velkomsttekstvision {
        opacity: 0.1;
        display: block;
    }

    #velkomsttekst {
        padding-bottom: 0%;
        font-size: 40px;

    }
    
    .container .medborg {
    background-attachment: fixed
}
    .container .byliv {
    background-attachment: fixed
}
    .container .fri {
    background-attachment: fixed
}
    .container .ark {
    background-attachment: fixed
}
    p{
        font-size:30px;
    }
    .between1 img {
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    margin-top: -20%;
}
}
